/* GENERAL */

:root {
    --height-header: 100px ;
    --whidth-aside: 150px;
    --section-top-height: 100px
}

  #header-header{
    height:var(--height-header);
  }

  #main-main{
    height:calc( 100vh - var(--height-header));
  }
 

  aside{
    width: var(--whidth-aside);
  }

  section{
    width: calc(100% - var(--whidth-aside));
  }

  .section-top{
    height: var(--section-top-height);
  }

  .section-bottom{
    height: calc(100vh - var(--section-top-height) - var(--height-header));
    overflow-y: auto;
  }

  .section-bottom-right , .section-bottom-left{
    height: 100%;
   
  }

.carda-70{
  height:70%;
}

.carda-30{
  height:30%;
}






