/* GENERAL */

:root {
    --height-header: 100px ;
    --whidth-aside: 300px;
}

  #header-header{
    height:var(--height-header);
  }

  #main-main{
    height:calc( 100vh - var(--height-header));
  }
 

  aside{
    width: var(--whidth-aside);
  }

  section{
    width: calc(100% - var(--whidth-aside));
  }


  .red{
    background-color: red;
  }
  .yellow{
    background-color: yellow;
  }
 .green{
  background-color: green;
 }
 .blue{
  background-color: blue;
 }

