
:root {
    /* --height-spotify-bottom: 100px ;
    --widht-sidebar: 200px ;
    --color-spotify-center: #141922;
    --color-sidebar :#000000;
    --color-hr: #B4FF30 ;
    --opacity:0.5; */
  }
 

